*.egg-info/
.installed.cfg
*.egg
*__pycache__*
*.pyc
.vscode
build
dist
neural\Lib\site-packages\torch\lib\dnnl.lib
neural\Lib\site-packages\torch\lib\torch_cpu.dll
venv\Lib\sitie-packages\torch\lib\dnnl.lib
venv\Lib\sitie-packages\torch\lib\torch_cpu.dll
neural/Lib/site-packages/torch/lib/dnnl.lib
neural/Lib/site-packages/torch/lib/torch_cpu.dll
venv/Lib/site-packages/torch/lib/dnnl.lib
venv/Lib/site-packages/torch/lib/torch_cpu.dll
